
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #333; 
    color: #fff; 
    font-family: "Arial", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    text-align: center; 
  }
  
  
  button {
    background-color: #008cba; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 25px;
  }
  
  button:hover {
    background-color: #005f6a; 
  }
  
 
  h2{
    margin-top: 20px;
    color:  coral;
  }

  h1{
    margin-bottom: 20px;
    color: rgb(41, 163, 201);
  }